.CharacterContainer {
	background-color: rgb(68, 61, 61);
	margin: 5px;
	color: white;
	display: flex;
	border-radius: 5%;
	div:last-child {
		margin: 5px;
		width: 230px;
		p:nth-child(odd) {
			font-weight: bold;
		}
		p:nth-child(even) {
			color: rgb(127, 238, 0);
		}
	}
}
